@model UserViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@Model.Email</p>

<address>
    10910 Peachtree Drive<br />
    Miami, FL 33161<br />
    <abbr title="Phone">P:</abbr>
    330.523.0876
</address>

<address>
    <strong>Email:</strong> <a href="mailto:tylercai28@gmail.com">tylercai28@gmail.com</a>
</address>
